img.align-center {
    margin-bottom: 1em;
}

code {
    color: #2194cdff;
}

.navbar-light .navbar-nav .nav-link {
    color: #2194cdff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b76751ff!important;
    /* color: rgba(255, 255, 255, .75)!important; */
}

.navbar-nav > .active > .nav-link {
    color: #2194cdff!important;
    /* color: white!important;
    font-weight: bold; */
}

h1, h2 {color: black;}

a {color: #2194cdff;}

a:hover {color: #b76751ff;}

a.headerlink {color: rgba(0,0,0,.25);}

a.headerlink:hover {
    color: rgba(0,0,0,.5);
    background-color: transparent;
}

.navbar-brand svg {
    max-width: 100%;
    height: 100%;
    width: auto
}

.navbar-brand #logo-text {color: #2194cdff; margin-left: 1em;}

.navbar-brand:hover circle, .navbar-brand:hover #background {
    fill-opacity: .8!important;
}
